html{
    background-color: #004800;
}

#titoloDiv{
    background-color: #cbffcb;
    padding: 1%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.topnav {
    overflow: hidden;
    background-color: #001200;
    margin-top: 3px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.topnav a {
    float: left;
    display: block;
    color: #cbffcb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
}  

.topnav a:hover {
    background-color: #cbffcb;
    color: #001200;
}

#h1{
    text-align: center;
    font-size:420%;
    background-color: #cbffcb;
    color: #001200;
}

#sottotitolo{
    font-size: 210%;
    color: #001200;
}

b{
    color: #002d00;
    font-size: 105%;
}

#agendaDiv, #obiettivoDiv, #requisitiDiv, #traguardiDiv, #idealeDiv{
    background-color: #cbffcb;
    padding: 1%;
    font-size: 140%;
    border-radius: 7px;
}

#agendaFoto{
    width: 230px;
    height: 230px;
}

#obiettivoFoto{
    width: 200px;
    height: 200px;
} 

#requisitiFoto{
    width: 310px;
    height: 310px;
}

#traguardiFoto{
    width: 300px;
    height: 300px;
}

#idealeFoto{
    width: 310px;
    height: 310px;
    border-color: #004800;
    border-style: groove;
    border-width: 3px;
}

#didascalia{
    font-size: 62%;
    font-style: italic;
}

#primoButton, #secondoButton, #terzoButton, #quartoButton, #quintoButton, #sestoButton, #settimoButton, #ottavoButton, #nonoButton, #decimoButton, #undicesimoButton, #dodicesimoButton{
    height: 13mm;
    font-size: 4mm;
    background-color: #e7e7ff;
    border-color: #0000FF;
    border-width: 1mm;
}

#primoMouse, #secondoMouse, #terzoMouse, #quartoMouse, #quintoMouse, #sestoMouse{
    background-color: #e7e7ff;
    width: auto;
    height: auto;
    padding: 5px;
    text-align: center;
    color: black;
    border-color: #0000FF;
    border-style: groove;
    border-width: 1mm;
}